.main {
  @apply max-w-3xl mx-auto my-12 text-lg px-4 lg:px-0;
}

.main h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px;

  @screen lg {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 80px;
  }
}

.andreasImage {
  margin-bottom: 20px;
}

.javaScriptStyle {
  background: linear-gradient(90deg, #E7EB29 0%, #FC4141 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}